/*google-fonts*/
/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
/* @import './google-fonts.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.container .progress {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
  color: #fff;
}

.container .progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  font-weight: 500;
  z-index: 1;
}

.container .progress h3 span {
  font-size: 0.65em;
  font-family: 400;
}

.container .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}

.container .progress::before {
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.container .progress::after {
  content: '';
  position: absolute;
  inset: 10px;
  background-color: #222;
  border-radius: 50%;
}

.container .progress::before {
  background-color: var(--clr);
  transform: rotate(calc(calc((var(--i) - 50) * 0.01turn)));
}

.container .progress.less::before {
  background-color: #444;
  transform: rotate(calc(calc((var(--i) - 0) * 0.01turn)));
}