:root {
  /* 默认背景色 */
  --backColor: #fff;
  --borderline: #00283a;
  /* 卡片 */
  --headerCOlor: #00283A;
  /* 卡片 */
  --headerhover: rgb(0, 40, 58, .8);

  /* 默认字体颜色 */
  --headerFont: #fff;
  /* 反差色 */
  --fontColor: #00283A;
  --mainColor: #ffffff;
  --bagColor: #02162b;
}

.content-li svg path,
.buttom svg path {
  fill: #fff;
}

svg {
  vertical-align: middle;
}

svg path {
  fill: var(--headerFont);
}

/* 遮罩 */
.zhezhao {
  position: fixed;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
  top: 0vw;
  background-color: rgba(0, 0, 0, .7);
  z-index: 9;
  display: none;
}

.zhezhao.active {
  display: block;
}

.zhezhao .close {
  position: absolute;
  right: 20%;
  top: 10%;
}

.close path {
  fill: #FCFCFE;
}

#videoResume {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#videoResumeC {
  width: 100%;
}


body,
html {
  position: relative;
  margin: 0vw;
  width: 100%;
  padding: 0vw;
  font-size: 13px;

  transition: .4s ease-in-out;
  font-weight: 400;


  color: var(--headerFont);
  background-color: #0B0E18;
}

a {
  transition: color .6s ease-in-out;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--mainColor);
}


.carbox {
  background-color: #1E2837;
  border-radius: 0.625vw;
  box-shadow: 0 0.104vw 0.208vw -0.104vw rgb(0 0 0 / 15%);
  border: 0.052vw solid #434C5D;
}

ul {
  list-style: none;
  margin: 0vw;
  padding: 0vw;
}

ul>li {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.copybottm {
  padding: 1.5625vw 1.042vw;
  color: #7B7B7D;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.104vw;
  transition: .4s ease-in-out;
  text-transform: uppercase;
}

/* 顶部栏目 */
.header {
  position: fixed;
  z-index: 2;
  top: 0vw;
  width: 100%;
  height: 3.646vw;
  line-height: 3.646vw;
  background-color: var(--headerCOlor);
  border-radius: 0% 0% 0.521vw 0.521vw;
  box-shadow: 0 0.104vw 0.208vw 0 rgb(0 0 0 / 15%);
}

/* 下面的装饰 */
.borderafter::after {
  content: '';
  position: absolute;
  top: 3.646vw;
  left: 0vw;
  right: 0vw;
  height: 0.417vw;
  /* background-color: #00283A; */
  background-color: var(--borderline);
  border-radius: 0% 0% 0.260vw 0.260vw;
  opacity: .3;
}

/* 上面的装饰 */
/* .borderbefore::before {
  content: '';
  position: absolute;
  top: -0.417vw;
  left: 8%;
  right: 8%;
  height: 0.521vw;
  background-color: var(--borderline);
  border-radius: 0.260vw 0.260vw 0% 0%;
  opacity: .3;
} */

.col {
  width: 75%;
  margin: 0 auto;
  /* border: 0.052vw solid red; */
}

.header>div {
  display: flex;
  justify-content: space-between;
}

/* 开灯 */
.kaig-bottm img {
  width: 0.78125vw;
  height: 0.78125vw;
}

.kaig-bottm .my-radio {
  position: relative;
  display: inline-block;
  height: 1.042vw;
  width: 2.083vw;
  vertical-align: middle;
  background: #F4F5F7;
  border-radius: 2em;
  box-shadow: inset 0 0 0.208vw -0.052vw rgb(0 0 0 / 15%);
  transition: .4s ease-in-out;
  cursor: pointer;
}

.kaig-bottm .my-radio.active>i {
  right: 0vw;
  left: auto;
}

.kaig-bottm .my-radio>i {
  position: absolute;
  left: 0vw;
  top: 0vw;
  bottom: 0vw;
  display: inline-block;
  width: 35%;
  border: solid 0.15625vw #AFB42B;
  border-radius: 50%;
  background: #FCFCFE;
  transition: all .2s ease;
}

/* 顶部导航栏 */
.header-nav {
  display: inline-block;
}

.header-nav>li.active::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0vw;
  right: 0vw;
  border-radius: 0.521vw;
  height: 0.15625vw;
  background-color: var(--mainColor);
  transition: .4s ease-in-out;
}

.header-nav>li {
  padding: 0 1.5625vw;
  position: relative;
  transition: color .6s ease-in-out;
  box-sizing: border-box;
}

.header-nav>li:hover {
  color: var(--mainColor);
}



/* 导航 */
/* 黑色主题背景 */
.navigation.active {
  background-image: url("../img/back/aitx6-0og08.webp") !important;

}

/* 默认主题 */
.navigation {
  margin: 0vw auto 0;
  width: 95%;
  background-color: transparent;
  height: 31.25vw;
  border-radius: 1.042vw;
  background-image: url("../img/back/a58cbbffd2aa49c1b1e99990be912f30.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
}

/* 顶部导航 */
.navigation .titleBox-tag {
  text-transform: uppercase;
}

.navigation h1 {
  margin: 0.521vw 0;
  font-size: 3.8rem;
  color: #fcfcfe;
  text-shadow: 0 0.052vw 0.521vw rgb(0 0 0 / 30%);
}

.navigation .buttom:hover {
  transform: scale(1.1);
  color: #fff;
}

.navigation>.nav-titleBox {
  margin-top: 18rem;
}

.nav-titleBox .buttom {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0vw 1.823vw 0 1.042vw;
  border: 0.104vw solid white;
  border-radius: 0.78125vw;
  cursor: pointer;
  transition: transform .3s ease;
  color: #fcfcfe;
  position: relative;
}

.nav-titleBox .buttom::after {
  position: absolute;
  right: 0.521vw;
  top: 50%;
  content: '';
  width: 0vw;
  height: 0vw;
  border-top: 0.208vw solid transparent;
  border-left: 0.417vw solid #fff;
  border-bottom: 0.208vw solid transparent;
  animation: bmove 1s infinite;
}

@keyframes bmove {
  0% {
    opacity: 1;
    transform: translateX(-0.417vw) translateY(-50%);
  }

  100% {
    opacity: 0;
    transform: translateX(0.260vw) translateY(-50%);
  }
}


/* 内容 */

.co-left {
  width: 35%;
  display: inline-block;
  height: 2.604vw;
}

.co-right {
  width: 64%;
  display: inline-block;
  /* background-color: #45454566; */
  min-height: 2.604vw;
}

.co {
  width: 70%;
  margin: 0 auto;
}

.content {
  position: relative;
  top: -4.6875vw;
  min-height: 52.083vw;
  width: 70%;
  margin: 0 auto;
  display: flex;
  /* background-color: rgba(10, 15, 20, 0.2); */
}


/* 左半部分 */
.content .me-card {
  /* top: 20.3125vw; */
}

.scroll {
  position: fixed !important;
  top: 49%;
}

.content .me-card {
  width: fit-content;
  min-width: 14.844vw;
  transform: translateY(-18.281vw);
  height: 580px;
  /* backgrounbad-color: var(--headerCOlor); */
  border-radius: 0.521vw;
  text-align: center;
  border: 0.052vw solid;
  padding: 0vw 1.5625vw;
  border: 0.052vw solid #434C5D;
}


/* 左边吸盘 */
.mecar-title {
  margin-top: 2.083vw;
}


.me-hover span {
  margin: 0 auto;
  display: block;
  font: 0.729vw;
  border-right: .08em solid;
  /* 个数*2ch */
  width: 28ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(28, end), blink-caret .3s step-end infinite alternate;
}


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}


/* 虚线 */
.content .borderbotm {
  /* border-style: dashed; */
  border-bottom: 0.052vw dashed rgb(187, 185, 185);
  height: 0vw;
  margin: 1.823vw 0;
}

.mecar-title .me-image {
  position: relative;
  display: inline-block;
}

.me-image>img {
  width: 100px;
  height: 100px;
  border: solid 0.15625vw #FCFCFE;
  border-radius: 50%;
  box-shadow: 0 0.104vw 0.208vw -0.104vw rgb(0 0 0 / 15%);
}

.mecar-title .me-image>.status {
  height: 1.042vw;
  width: 1.042vw;
  box-shadow: 0 0.104vw 0.208vw -0.104vw rgb(0 0 0 / 15%);
  border-radius: 50%;
  position: absolute;
  border: solid 0.15625vw #FCFCFE;
  right: 0vw;
  bottom: 0vw;
  background-color: var(--mainColor);
  overflow: hidden;
  color: #fff;
  transition: width .2s ease-in-out, visible .2s ease-in-out;
}

.mecar-title .me-image:hover .status {
  width: 5.208vw;
  border-radius: 1.042vw;
}

.mecar-title .me-image:hover .status i {
  width: 0%;
  visibility: hidden;
}

.mecar-title .me-image:hover .status i {
  width: 100%;
  visibility: visible;
}

.mecar-bottm>div {
  display: flex;
  justify-content: space-between;
  height: 25px;
  line-height: 25px;
}

.mecar-bottm .mecarbottm-key {
  font-weight: 500;
}

.mecar-bottm .mecarbottm-value {
  font-weight: 500;
  color: #747474;
}

.me-card .lianxi-list svg {
  margin: 0 0.260vw;

}

.me-card .lianxi-list a svg path {
  transition: .2s ease-in-out;
}

.me-card .lianxi-list a:hover svg path {
  fill: var(--mainColor);
}

.me-card .lianxi-list a {
  display: inline-block;
}

.me-card .buttom-box .button {
  display: block;
  margin: 0 auto;
  border: none;
  height: 40px;
  line-height: 40px;
  width: 200px;

  color: var(--headerFont);
  border-radius: 50px;
  background: linear-gradient(-45deg, var(--mainColor) 50%, var(--mainColor) 70%);
  background-size: 600% 100%;
  animation: shine 5s infinite;
}

@keyframes shine {
  0% {
    background-position-x: 100%;
  }

  50% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: -100%;
  }
}


/* g公共 */
.content-li>h3 {
  display: flex;
  align-items: center;
  color: var(--headerFont);
}

.content-li .borderbotm {
  flex: 1;
  margin-left: 1.042vw;
  margin-right: 1.042vw;
}


/* 加载小蝴蝶 */
.lodding-wrap {
  position: fixed;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
  top: 0vw;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9;
  opacity: 1;
}

.loadding-div {
  left: 50%;
  top: 50%;
  position: relative;
  width: 5.208vw;
  height: 5.208vw;
  transform: rotateZ(-13deg) translate(-50%, -50%);
  animation: insect-fly 0.3333333333s infinite alternate cubic-bezier(.45, -0.43, .63, 1.94);
}

.loadding-div::after,
.loadding-div::before {
  content: '';
  position: absolute;
  width: 2.604vw;
  height: 2.604vw;
  border: 0.052vw solid #00c7ff;
  transform: rotateX(60deg) rotateY(-60deg);
  background-color: rgba(81, 0, 255, 0.723);
  border-radius: 40% 20% 50% 50%;
  animation: wings 0.333s infinite cubic-bezier(0.6, 0, 0.4, 1) alternate;
}

.loadding-div::after {
  transform-origin: right center;
  left: 0;
}

.loadding-div::before {
  right: 0;
  transform-origin: left center;
  animation-direction: alternate-reverse;
}

@keyframes insect-fly {
  from {
    margin-top: -0.3em;
  }

  to {
    margin-top: 0.3em;
  }
}

@keyframes wings {
  from {
    transform: rotateX(60deg) rotateY(-60deg);
  }

  to {
    transform: rotateX(60deg) rotateY(60deg);
  }
}

/* 雪花 */
.canvas-wrap {
  position: fixed;
  top: 5.208vw;
  bottom: 0vw;
  z-index: 1;
  left: 0;
  right: 0;
}


/* 置顶层 */
.zz {
  position: relative;
  z-index: 1;
}


/* 公共的按钮样式 */
.buttonsty {
  cursor: pointer;
  transition: .4s ease-in-out;
}

.buttonsty:hover {
  transform: scale(1.03);
}



/* 适配 */

/* @media screen and (min-width:52.083vw) and (max-width:62.5vw) {
  .content .me-card{
    min-width: auto;
  }
}



@media screen and ( max-width:52.083vw) {
  .content{
    display: block;
  }
  .content .me-card{
    min-width: auto;
  }
    

  .header-right{
    display: none;
  }
  .nav-titleBox{
    display: none;
  }
  .co-right{
    display: none;
  }
} */


/* 播放器 */
.music-wrap {
  position: fixed;
  right: -14%;
  bottom: 1.5625vw;
  z-index: 2;
  transition: right .3s ease;
}

.music-wrap:hover {
  right: 0%;
}

/*
.music-wrap.paused .music-box{
  animation-play-state:paused;
}
.music-wrap .music-box{
  animation:fadenum 5s linear infinite;
}
.music-wrap .music-box{
  background-image: url(../img/bg2.jpg);
  background-size: 100% 100%;
  transform-origin: center center;
  width:4.167vw;
  height:4.167vw;
  background-color:pink;
  border-radius: 50%;
}
@keyframes fadenum{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.music-wrap .star{
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.521vw solid #fff;
  border-bottom: 0.521vw solid #fff;
  border-left: 1.042vw solid #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.music-wrap.paused .star{
  border-top: 0.521vw solid transparent;
  border-bottom: 0.521vw solid transparent;
  border-left: 1.042vw solid #fff;
} */



.min_menu {
  display: none;
  height: 0.104vw;
  width: 0.78125vw;
  background-color: var(--headerFont);
  border-radius: 0.104vw;
  position: relative;
  transition: .4s ease-in-out;
}

.min_menu::after {
  content: "";
  top: -0.260vw;
  position: absolute;
  background-color: inherit;
  transition: .4s ease-in-out;
  display: block;
  width: 0.78125vw;
  height: 0.104vw;
  border-radius: 0.104vw;
}

.min_menu::before {
  content: "";
  bottom: -0.260vw;
  position: absolute;
  background-color: inherit;
  transition: .4s ease-in-out;
  display: block;
  width: 0.78125vw;
  height: 0.104vw;
  border-radius: 0.104vw;

}

.min_menu-wrap {
  min-width: 2.604vw;
}

.min_menu-wrap.active .min_menu {
  transform: rotate(45deg);
}

.min_menu-wrap.active .min_menu::after {
  transform: translate(0, 0.260vw) rotate(-90deg);
}

.min_menu-wrap.active .min_menu::before {
  transform: translate(0, -0.260vw) rotate(-90deg);
}

/* 手机*/
@media screen and (max-width: 1200px) {
  .col>span {
    visibility: hidden;
  }

  .content .me-card {
    min-width: auto;
    height: 480px;
  }

  .co-left {
    position: relative;
    width: auto;
    display: block;
    height: auto;
  }

  .co-right {
    width: 100%;
  }

  .content {
    display: block;
  }

  .content .me-card {
    width: auto;
    transform: translateY(-20px);
  }

  .scroll {
    position: relative !important;
  }


  .min_menu {
    display: inline-block;
  }

  /* .header .header-right{
      display:none;
    } */
  .co-left {
    display: none;
  }

  .co-right {
    width: 100%;

  }


  .header-right .min_menu-wrap {
    text-align: center;
  }

  .header-right .header-nav>li {
    display: block;
  }

  .header-right .kaig-bottm {
    display: block;
  }

  .menu_list {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    background-color: var(--headerhover);
    transform: translateY(10px);
    transition: .1s ease-in-out;
  }

  .menu_list.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }

  .navigation>.nav-titleBox {
    margin-top: 10rem;
  }
}

/* 平板 */
@media screen and (max-width:1200px) {
  .navigation {
    text-align: center;
    background-size: 100% 100%;
  }

  .co-left {
    position: relative;
    width: auto;
    display: block;
    /* height: 480px; */
  }

  .co-right {
    width: 100%;

  }

  .content {
    display: block;
  }

  .content .me-card {
    width: auto;
    transform: translateY(-20px);
  }

  .scroll {
    position: relative !important;
  }
}