* {
    margin: 0;
    padding: 0;
    border: none;
    outline-style: none;
    box-sizing: border-box;
    font-family: "abcfont";
    user-select: none;
    /* 禁止拖拽 */
    -webkit-user-drag: none;
}

@font-face {
    font-family: "abcfont";
    src: url("./zaozigongfangnaisiti.ttf");
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    resize: none;
}

a,
a:focus,
a:hover {
    text-decoration: none !important;
    color: inherit;
    transition: all 0.3s ease;
}

html {
    font-size: 0.83vw;
    color: black;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    position: relative;
    line-height: 1;
    scroll-behavior: smooth;
    --themeColor: #ffa827;
    --themeColor2: #37e7ff;
}

::selection {
    background: var(--themeColor);
    color: #fff;
}

:focus {
    outline-color: var(--themeColor);
}

::-webkit-scrollbar {
    width: 0.21vw;
    height: 0.21vw;
}

::-webkit-scrollbar-thumb {
    background: var(--themeColor2);
}

::-webkit-scrollbar-track {
    background: #eee;
}

img {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    display: block;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.clamp1,
.clamp2,
.clamp3,
.clamp4 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp2 {
    -webkit-line-clamp: 2;
}

.clamp3 {
    -webkit-line-clamp: 3;
}

.clamp4 {
    -webkit-line-clamp: 4;
}

.container {
    box-sizing: border-box;
    width: 77.08vw;
    margin: 0 auto;
}


#body-bgm {
    display: none;
}


/* 视频弹窗 */
.video-alert {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
}

.video-alert.active {
    pointer-events: all;
    opacity: 1;
}

.video-alert .bg {
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.75);
}

.video-alert .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-alert .content video {
    width: 46.88vw;
}

.video-alert .content span.btn {
    cursor: pointer;
    display: inline-block;
}

.video-alert .content span.btn img {
    width: 1.67vw;
    height: 1.67vw;
    position: absolute;
    right: -3.13vw;
    top: 0.52vw;
}


/* 背景视频 */
.main-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.main-bg video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 返回按钮样式 */
a.back {
    position: absolute;
    top: 0;
    right: calc(100% + 4.43vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.25vw;
    height: 1.67vw;
    font-size: 0.73vw;
    background: rgba(255, 255, 255, .05);
    border: 0.05vw solid rgba(255, 255, 255, .25);
    color: #fffefe;
    padding: 0 0.78vw;
}

a.back:hover {
    border-color: white;
    color: white;
    background: rgba(255, 255, 255, 0.25);
}

a.back .iconfont {
    font-size: 0.63vw;
    transform: rotate(180deg);
}